<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>Lupus</title>
    <link href="../../static/css/styles.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
<body>
<header><h1>Admin Panel</h1></header>
<nav></nav>
<article>
    <header></header>
    <section>
        <header></header>
        <a href="../order">List of Orders</a>
    </section>
    <footer></footer>
</article>
<footer>© 2019 All Rights reserved.</footer>
</body>
</html>