<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:include="layout :: master">
<body>
<div th:fragment="content">
    <section>
        <table>
            <caption><h1>List Of All Orders</h1></caption>
            <thead>
            <tr>
                <th>Id</th>
                <th>Items_Name</th>
                <th>Creation_Date</th>
                <th>User_id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="${order.items}"></td>
                <td th:text="${order.creation_date}"></td>
                <td th:text="${order.user_id}"></td>
                <td><a th:href="@{/order/edit/{id}(id=${order.id})}"><button>Edit</button></a></td>
                <td><a th:href="@{/order/delete/{id}(id=${order.id})}"><button>Delete</button></a></td>
            </tr>
            </tbody>
        </table>
        <a href="#" th:href="@{/order/add}"><button>Add New Order</button></a>
    </section>
</div>
</body>
</html>