.grid {
    display: grid;
    grid-gap: 10px;
}

body {
  margin: auto;
  width: 1000px;
  background-color: ghostwhite;
}

footer {
    position: fixed;
    text-align: center;
    left: 0px;
    bottom: 0px;
    width: 100%;
}