<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" th:fragment="master">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>My Orders</title>
    <link href="../static/css/layout.css" th:href="@{/css/layout.css}" rel="stylesheet" />
</head>
    <body>
    <header></header>
    <nav></nav>
    <div th:include="this :: content"></div>
    <footer>© 2019 All Rights reserved.</footer>
    </body>
</html>